.App {
  background: linear-gradient(290deg, #60A4C6, #E84A81) fixed;
  font-family: 'Roboto', sans-serif;
  padding: 20px;
  flex-direction: column;
  font-size: 16px;
  color: #2F2F2F;
}

.content {
    background-color: white;
    flex-direction: column;
    padding:25px;
    font-family: 'Roboto', sans-serif;
}

footer {
  user-select: none;
  margin-top: 15px;
}

footer .social {
  text-decoration: none;
  color: inherit;
  border-bottom: solid 2px white;
  color: white;
  margin-right: 10px;
}

.centered-wrapper {
    display: flex;
    align-items: center;
    min-height: calc(100vh - 40px - 19px - 50px - 15px - 19px - 25px);
}

a {
  text-decoration: none;
  color: inherit;
  border-bottom: 3px solid #2F2F2F;
}

.who, .back {
  text-align: right;
  margin-top: 25px;
  user-select: none;
}

.who a, .back a{
  border-bottom: 0px;
  color: #2f2f2f;
}

.who a:hover, .back a:hover {
  border-bottom: 2px solid #2F2F2F;
}

@media (max-width: 767px) {
  .who {
    text-align: center;
  }
  .back {
    text-align: center;
  }
}
