.Portfolio {
    margin-top: 20px;
    width: 100%;
    max-width: 800px;
    margin-left:auto;
    margin-right:auto
}

.PortfolioResultsShort .left, .Preambole {
    margin-top:15px;
    background-color: #2f2f2f;
    display: inline-block;
    color:white;
    border:5px solid #2f2f2f;
    border-radius:5px;
    max-width: 88%
}

.PortfolioResultsShort .left .chat-link {
    border-bottom:1px white solid;
}

.PortfolioResultsShort i {
    margin-right: 10px;
}

.PortfolioElement {
    margin-top:20px;
    width: 88%;
    border: 5px solid #2f2f2f;
    border-radius:5px;
    background-color: #2f2f2f;
    color: white
}

.PortfolioElement .title {
    font-size: 1.5em;
    margin: 5px;

}

.PortfolioElement a {
    display:inline-block
}

.PortfolioElement img {
    border-bottom: 0px solid #2f2f2f;
    border-bottom-left-radius:5px;
    border-bottom-right-radius: 5px;
    width: 100%;

}

.PortfolioResultsShort .left, .Portfolio button, .Portfolio .Preambole, .PortfolioElement {
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-name: fadeInDown;
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.Portfolio .after, .Portfolio button {
    animation-delay: 2s
}

.see-more {
    animation-delay: 1s
}



@media (max-width: 576px) { 
    .Portfolio {
        font-size: 20px
    }

    .PortfolioElement, .Preambole {
        border: 2px solid #2f2f2f;
        padding: 2px;

    }

    .PortfolioElement .title {
        font-size: 1em;
    }

    .PortfolioElement img {
        border-bottom: 0px solid #2f2f2f;
        border-bottom-left-radius:5px;
        border-bottom-right-radius: 5px;

    }
}