.SmallForm  form{
    /*border: 3px aquamarine solid;*/
    /*color: white;
    background-color: #2f2f2f;
    text-align: right;
    border-radius: 10px;
    padding:20px;
    text-align:right;
    display:inline-block;*/
    background-color: aquamarine;
    display: inline-block;
    padding:7px;
    border-radius:5px;
}

.SmallForm {
    /*margin-right:auto;*/
    text-align: right;
    user-select: none;
}

.SmallForm input[type="number"] {
    border: 3px transparent solid;
    font-size: inherit;
    border-radius: 7px;
    text-align: center;
    width:40px;
    -moz-appearance: textfield;
    margin-left:10px;
    margin-right: 10px;
}

.Portfolio .choice-wrapper {
    margin-top:10px;
}

.SmallForm .errors {
    text-align: right
}

/*Checkbox*/





/*.SmallForm .label-item:before {
    font-family: 'FontAwesome'; 
    margin-right: 5px;   
    display: inline-block;
    width: 1em;
    margin-left: 15px;
}*/

/*.SmallForm input[type="checkbox"]:not(checked) + label .label-item:before {
    font-family: 'FontAwesome';
    content:"\f096";
}*/

/*.SmallForm input[type="checkbox"]:checked + label .label-item:before {
    content: "\f14a";
    animation-name: tick;
    animation-duration: 90ms;
    animation-timing-function: ease-in;
}*/

.SmallForm input[type="checkbox"] {
    display: none;
}

.SmallForm input[type="checkbox"]:not(:checked) + label {
    background: transparent;
    color: #2f2f2f;
    border: 0px transparent solid;
    padding:1px 3px 1px 3px;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
}
.SmallForm input[type="checkbox"]:checked + label {
    background: #2f2f2f;
    color: white;
    border: 0px transparent solid;
    padding:1px 3px 1px 3px;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
}

@media (max-width: 576px) { 
    .SmallForm form {
        max-width: 88%;
        font-size: 20px
    }
    .SmallForm input[type=number] {
        font-size: 20px;
        border: 0px transparent solid;
        padding:2px;
        
    }





    .SmallForm .right {
        font-size: 20px
    }
    .SmallForm button:hover {
        color: white;
        background-color: #2f2f2f;
    }
}

@media only screen 
and (max-device-width : 1024px)  { 
    .Portfolio button:hover {
        color: white;
        background-color: #2f2f2f;
    }
}

/*.SmallForm{
    font-size: 1.3em;
    margin-bottom: 20px;
    text-align: center;
}

.SmallForm input {
    width: 40px;
    border: none;
    border-bottom: 2px solid #2f2f2f;
    margin-left: 3px;
    margin-right: 5px;
    font-size: inherit;
    outline-width: 0;
    padding-left: 3px;
    padding-right: 3px;
    text-align: center;
    border-radius: 0;
}

.SmallForm label{
    margin-left: 5px;
    margin-right: 5px;
    padding: 0 4px 0 4px;
}


.SmallForm .errors {
    text-align: center;
}

.SmallForm button {
    font-size: .7em;
    display: block;
    margin-top: 20px;
    margin-left: auto;
    border: 2px solid #2f2f2f;
    margin-right: auto;
    padding-top: 3px;
    padding-bottom: 3px;
}

.SmallForm .choice-wrapper {
    display: inline;
}

.SmallForm input[type="checkbox"]:not(:checked) + label {
    background: white;
    color: #7D7E7E;
}



@media (max-width: 767px) {
    .SmallForm input[type="checkbox"]:not(:checked):hover + label {
        background: white;
        color: #7D7E7E;
        transition: background-color 0.1s ease;
    }
    .SmallForm input[type=number]{
        margin-bottom: 5px;
        padding-bottom: 1px;
    }
    .SmallForm .choice{
        text-align: center;
        display: inline;
    }

    .SmallForm .choice-wrapper {
        display: block;
        margin-top: 10px;
    }
    .SmallForm {
        text-align: center;
        margin-bottom: 7px;
    }
    #firstLabel {
        margin-top: 15px;
    }

}


@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  { 
    .Work input[type="checkbox"]:not(:checked):hover + label {
        background: white;
        color: #7D7E7E;
        transition: background-color 0.1s ease;
    }
}*/
