.Welcome {
    margin: 0px auto 0px auto;
    font-size: 2em;
    text-align: center;
}

/*This is to balance the invisible error box.*/
.hello {
    border-top: 36px transparent solid;
}

.question-box {
    margin-top: 40px;
}

.question .underline {
    border-bottom: 3px solid yellow;
}

.question {
    margin-bottom: 15px;
}

.answer {
    margin-top: 5px;
}

input.minutes {
    border: none;
    border-bottom: 3px solid #2F2F2F;
    font-size: inherit;
    max-width: 100px;
    text-align: center;
    background: transparent;
    color: #2f2f2f;
    border-radius: 0;
    height: 40px;
}

input[type=number]:focus{
    outline-width: 0;
    outline:none;
}

label {
    user-select: none;
    /*transition: border 0.2s ease;*/
    padding: 0 4px 0 4px;
    cursor: pointer;
    margin-left: 15px;
    margin-right: 15px;
}

label:hover {
    background: #2f2f2f;
    color: white;
    transition: background-color 0.1s ease;
}

input[type="checkbox"] {
    display: none;
}


input[type="checkbox"]:checked + label {
    background: #2f2f2f;
    color: white;
}

input[type="checkbox"]:not(:checked) + label {
    background: white;
    color: #2f2f2f;
}

button {
    border: 3px solid #2f2f2f;
    font-size: inherit;
    margin-top: 40px;
    color: inherit;
    background-color: white;
    transition: background-color 0.1s ease;
    user-select: none;
    cursor: pointer;
}
button:hover{
    background: #2f2f2f;
    color: white;
}

button:focus {
    outline-width: 0;
}

/*This hides the arrows to input number*/
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

input[type="number"] {
    -moz-appearance: textfield;
}

.errors {
    font-size: 0.4em;
    margin-top: 6px;
    font-weight: bold;
    /*margin-bottom: 10px;*/
    height: 20px;
}

@media (max-width: 767px) {
  .Welcome {
      font-size: 1.6em!important;
  }
  .hello {
      border-top: 0px;
  }
  a{
    border-bottom: 2px solid;
  }
  input.minutes {
    border-bottom: 2px solid;
  }
  button {
      border: 2px solid #2f2f2f;
      padding:5px;
      margin-top: 30px;
  }
  .question .underline {
        border-bottom: 2px solid yellow;
  }
  input.minutes {
      width: 50px;
  }
  .choice {
      display: block;
      margin-bottom: 8px;
  }
}