.Welcome {
    margin: 0px auto 0px auto;
    font-size: 2em;
    text-align: center;
}

.question-box {
    margin-top: 40px;
}

.question .underline {
    border-bottom: 3px solid yellow;
}

.question {
    margin-bottom: 15px;
}

.answer {
    margin-top: 5px;
}

input.minutes {
    border: none;
    border-bottom: 3px solid #2F2F2F;
    font-size: inherit;
    max-width: 100px;
    text-align: center;
    background: transparent;
    color: #2f2f2f;
    border-radius: 0;
    height: 40px;
}

input.minutes:focus{
    outline-width: 0;
}

label {
    user-select: none;
    border-bottom: 3px transparent solid;
    /*transition: border 0.2s ease;*/
}

input[type="checkbox"] {
    visibility: hidden;
}


input[type="checkbox"]:checked + label {
    border-bottom: 3px #2f2f2f solid;
}

button {
    border: 3px solid #2f2f2f;
    font-size: inherit;
    margin-top: 40px;
    color: inherit;
    background-color: white;
    transition: background-color 0.1s ease;
}
button:hover,button:focus{
    background: #2f2f2f;
    color: white;
}

button:focus {
    outline-width: 0;
}

@media (max-width: 767px) {
  .Welcome {
      font-size: 1.6em!important;
  }
  a{
    border-bottom: 2px solid;
  }
  input.minutes {
    border-bottom: 2px solid;
  }
  button {
      border: 2px solid #2f2f2f;
      padding:5px;
  }
  input[type="checkbox"]:checked + label {
    border-bottom: 2px #2f2f2f solid;
  }
  .question .underline {
        border-bottom: 2px solid yellow;
  }
}